pkgbase = abduco-git
	pkgdesc = A session management and attach/detach functionality (to use together with dvtm(1).
	pkgver = v0.4.r9.g57e7acb
	pkgrel = 1
	url = https://github.com/martanne/abduco
	install = message.install
	arch = any
	license = BSD
	makedepends = git
	optdepends = dvtm: Dynamic virtual terminal manager.
	provides = abduco
	conflicts = abduco
	source = git://github.com/martanne/abduco.git#branch=master
	sha512sums = SKIP

pkgname = abduco-git

